.startCard {
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin: 20px 0;         
  }
  
.startCard img {
    max-width: 50%;        
    height: auto;           
    border-radius: 8px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }
  
.CartsPanel {
    flex: 50%;
    display: flex;
    flex-direction: column;  
    align-items: center;     
    gap: 20px;           
}

.backCardButton{
  font-size: 36px;
  margin-right: 10px;
}

.mobileBackCardButton{
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #5f5f5f;
}

@media (max-width: 600px) {
  .startCard{
    display: flex;
    flex-direction: column;
    margin: 5px; 
    padding: 5px;
  }
}