.RightPanel{
    flex: 25%;
    margin: 5px; 
    border-radius: 5px;
    box-shadow:  0 2px 8px rgba(42, 41, 43, 0.3),
                0 6px 16px rgba(55, 54, 56, 0.15);
}

.RightPanel h3{
    text-align: center;
}

.gameRulesInfo {
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    color: #A8A8A8; 
    font-size: 16px;
    line-height: 1.6;

}

.gameRulesInfo p {
    margin: 0;
}

.gameRulesInfo strong {
    color: #FFD700;
}

.gameRulesInfo .warning {
    margin-top: 10px;
    font-weight: bold;
    color: #FF6347; 
}

@media (max-width: 600px) {
    .RightPanel{
        display: none;
    }
}