h1{
    text-align: center;
    color: #ececec
}

body{
    background: linear-gradient(90deg, rgba(34, 34, 34, 1) 0%, rgba(52, 52, 52, 1) 50%, rgba(71, 71, 71, 1) 100%);
}

main #editConteiner{
    display: flex;
}

@media (max-width: 1200px){
    main #editConteiner{
        display: block;
    }
}