.previewContainer {
    color: #fff;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4f4f4f;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(59 59 59);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
  }
  
  .emptyMessage {
    text-align: center;
    font-style: italic;
    margin: 40px 0;
    font-size: 16px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .th,
  .td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
  }
  
  .th {
    background-color: #636363;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .tr:hover {
    background-color: #747373;
  }
  
  .deleteButton,
  .editButton {
    padding: 6px 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.2s ease;
  }

  .editButton{
    background-color: #4253eb;
  }
  
  .deleteButton:hover {
    background-color: #c82333;
  }

  .editButton:hover{
    background-color: #3749e9;
  }

  .downloadButton {
    display: block;
    margin: 16px auto 0;
    padding: 14px 28px;
    background-color: #218837;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    letter-spacing: 0.5px;
  }
  
  .downloadButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(128, 234, 102, 0.4);
  }
  
  .downloadButton:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

@media (max-width: 700px) {
    .previewContainer {
    overflow: scroll;
    width: 90%;
    margin: 10px;
    padding: 15px;
    }
  

    .td {
      text-align: right;
      font-size: 14px;
      border-bottom: 1px dotted #ccc;
      position: relative;
      margin-bottom: 8px;
    }
  
  }