.previewContainer {
    color: #fff;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #4f4f4f;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(59 59 59);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
  }
  
  .emptyMessage {
    text-align: center;
    font-style: italic;
    margin: 40px 0;
    font-size: 16px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .th,
  .td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
  }
  
  .th {
    background-color: #636363;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .tr:hover {
    background-color: #747373;
  }
  
  .deleteButton {
    padding: 6px 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.2s ease;
  }
  
  .deleteButton:hover {
    background-color: #c82333;
  }
  

  @media (max-width: 700px) {
    .previewContainer {
    overflow: scroll;
    width: 90%;
    margin: 10px;
    padding: 15px;
    }
  

    .td {
      text-align: right;
      font-size: 14px;
      border-bottom: 1px dotted #ccc;
      position: relative;
      margin-bottom: 8px;
    }
  
  }