.LeftPanel{
    flex: 25%;
    margin: 5px; 
    border-radius: 5px;
    box-shadow:  0 2px 8px rgba(42, 41, 43, 0.3),
                0 6px 16px rgba(55, 54, 56, 0.15);
}


.LeftPanel h3 {
    text-align: center;
    color: #A8A8A8;
    margin-bottom: 20px;
    font-weight: 600;
}

.buttonsPanel {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.mobileGameButtonPanel{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5px; 
    margin: 5px; 
}

.startButton,
.uploadeButton,
.downloadFile,
.deletedButton,
.endButton,
.infoCardButton {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.startButton {
    background: linear-gradient(45deg, #4CAF50, #4CAF50); 
}

.uploadeButton {
    background: linear-gradient(45deg, #9C27B0, #9C27B0); 
}

.deletedButton {
    background: linear-gradient(45deg, #b65959, #ad4444); 
}

.downloadFile {
    background: linear-gradient(45deg, #a89c2c, #a6af1e); 
}

.endButton {
    background: linear-gradient(45deg, #a83636, #9e1919); 
}
.infoCardButton{
    background: linear-gradient(45deg, #446da3, #3564a1); 
}


.startButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.5);
}

.uploadeButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(156, 39, 153, 0.5);
}

.deletedButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(182, 90, 90, 0.5);
}

.downloadFile:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(255, 152, 15, 0.5);
}

.endButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(255, 34, 34, 0.5);
}


.startButton:active,
.uploadeButton:active,
.downloadFile:active {
    transform: translateY(0);
    box-shadow: none;
}

@media (max-width: 600px) {
    .LeftPanel{
        width: 100%;
        margin: 0px;

    }

    .LeftPanel h3{
        display: none;
    }


}