.LeftPanel{
    flex: 25%;
    margin: 5px; 
    border-radius: 5px;
    box-shadow:  0 2px 8px rgba(42, 41, 43, 0.3),
                0 6px 16px rgba(55, 54, 56, 0.15);
}


.LeftPanel h3 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
}

.buttonsPanel {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.startButton,
.uploadeButton,
.downloadFile,
.deletedButton {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.startButton {
    background: linear-gradient(45deg, #4CAF50, #4CAF50); 
}

.uploadeButton {
    background: linear-gradient(45deg, #9C27B0, #9C27B0); 
}

.deletedButton {
    background: linear-gradient(45deg, #b65959, #ad4444); 
}

.downloadFile {
    background: linear-gradient(45deg, #FF9800, #FF9800); 
}


.startButton:hover {
    background: linear-gradient(45deg, #4CAF50, #4CAF50); 
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(76, 175, 80, 0.5);
}

.uploadeButton:hover {
    background: linear-gradient(45deg, #9C27B0, #9C27B0); 
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(156, 39, 153, 0.5);
}

.deletedButton:hover {
    background: linear-gradient(45deg, #ad4d4d, #b13e3e); 
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(182, 90, 90, 0.5);
}

.downloadFile:hover {
    background: linear-gradient(45deg, #FF9800, #FF9800); 
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(255, 152, 15, 0.5);
}


.startButton:active,
.uploadeButton:active,
.downloadFile:active {
    transform: translateY(0);
    box-shadow: none;
}

